:root{
    --grayscale-filter: 1;
    --scale-img: 1;
    --shadow: 3px 3px 5px  #2d2d30;
}

.card {
    list-style: none;
}

.card:hover {
    --grayscale-filter: 0;
    --shadow: 1px 1px 10px rgba(255, 255, 255, 0.2)
}

.card__img {
    inline-size: 100%;
    object-fit: cover;
    border-radius: 2px;
    filter: grayscale(var(--grayscale-filter));
    transition: all 500ms ease-out;
    
}

.card > a {
    display: grid;
    grid-template-rows: min-content;
    place-items: center;

    text-decoration: none;
    text-align: center;
    color: var(--light-color);
    
    padding: .75rem;
    border-radius: 10px;
    border: .1px solid rgb(75, 75, 75);
    background-color: #242526;
    
    filter: drop-shadow(var(--shadow));
    transition: ease-out 200ms;
    cursor: pointer;
    
    scroll-snap-align: start;
}


.title_album{
    display: block;
    font-weight: 700;
    margin-bottom: .5rem;
}

.title{
    font-weight: 200;
}